.package .popup-inner {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 80%; /* Adjust the width of the popup as needed */
    display: grid;
    grid-template-columns: 1fr ;
    grid-column-gap: 20px;
  }
  
  .package  .left-column {
    display: flex;
    flex-direction: column;
  }
  
  .package .left-column label {
    display: block;
    margin-bottom: 10px;
  }
  
  .package .left-column input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .package .right-column {
    display: flex;
    flex-direction: column;
  }
  
  .package .right-column h3 {
    margin-top: 0;
  }
  
  .package .right-column .guest-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .package .right-column .guest-field label {
    margin-bottom: 5px;
  }
  
  .package .right-column .guest-field input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .package .popup-inner button[type="submit"],
  .package .popup-inner button[type="button"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .package .kk .popup-inner button[type="submit"]:hover,
  .package .kk .popup-inner button[type="button"]:hover {
    background-color: #45a049;
  }
  
  .package .kk .popup-inner button[type="submit"] {
    margin-top: 20px;
  }
  
  .package .popup-inner button[type="button"] {
    margin-top: 20px;
    background-color: #f44336;
  }
  
  .package .popup-inner button[type="button"]:hover {
    background-color: #da190b;
  }
  
 .package .popup-inner button[type="submit"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
  }
  
 .package .popup-inner button[type="button"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
  }
  