/* .pack-body{
    position:absolute;
    left:10%
}

.bookingPop{
    height:400px;
    width: 400px;
    background-color: aquamarine;

}

.packImg{
    position: relative;
    height: 400px;
    width: 60%;
} */